# see https://blog.codeship.com/running-node-js-linux-systemd/

[Unit]
Description=Kratos TCR
After=network.target

[Service]
User=ubuntu
Environment=HOME=/home/ubuntu
WorkingDirectory=/home/ubuntu/kratos-tcr
ExecStart=/home/ubuntu/.nvm/versions/node/v10.14.1/bin/node server/server.js

[Install]
WantedBy=multi-user.target
